@import "tailwindcss";

/* Font Faces */
@font-face {
  font-family: "Suisse Intl";
  src: url("/fonts/fonnts.com-Suisse_Intl_Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Suisse Intl";
  src: url("/fonts/fonnts.com-Suisse_Intl_Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Suisse Intl";
  src: url("/fonts/fonnts.com-Suisse_Intl_Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Suisse Intl", sans-serif;
}


:root {
  --font-suisse: "Suisse Intl", sans-serif;
  --color-grape: #5e1ae2;
  --color-offwhite: #f9f5d9;
  --color-beige: #f9f5d9;
  --color-yellow-ontime: #f8f099;
  --color-orange-ontime: #fabb4c;
  --color-black-ontime: #00131c;
}

@theme {
  --color-grape: #5e1ae2;
  --color-offwhite: #f9f5d9;
  --color-beige: #f9f5d9;
  --color-yellow-ontime: #f8f099;
  --color-orange-ontime: #fabb4c;
  --color-black-ontime: #00131c;

  --color-bg-default: var(--colors-bg-color-black-ontime);
  --color-bg-dark: var(--colors-bg-color-black-ontime);

  --font-suisse: "Suisse Intl", sans-serif;

  --duration-1200: 1200ms;
  --ease-in-out-custom: cubic-bezier(0.77, 0, 0.175, 1);
}


.font-regular {
  font-family: var(--font-suisse);
  font-weight: 400;
}
.font-medium {
  font-family: var(--font-suisse);
  font-weight: 500;
}
.font-bold {
  font-family: var(--font-suisse);
  font-weight: 700;
}

.color {
  background-color: var(--color-mostard);
  color: white;
  padding: 1rem;
}

:root {
  --colors-bg-default: var(--color-black-ontime);;
  --colors-bg-dark: var(--color-black-ontime);
}

html.dark {
  --colors-bg-default: var(--color-black-ontime);
  --colors-bg-dark: var(--color-black-ontime);;
}


.swiper-pagination-bullet {
  background-color: #ff6347;
}

/* Cambiar color cuando el punto está activo */
.swiper-pagination-bullet-active {
  background-color: #4CAF50;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
}
