@import "tailwindcss";

/* Font Faces */
@font-face {
  font-family: "Suisse Intl";
  src: url("/fonts/fonnts.com-Suisse_Intl_Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Suisse Intl";
  src: url("/fonts/fonnts.com-Suisse_Intl_Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Suisse Intl";
  src: url("/fonts/fonnts.com-Suisse_Intl_Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Suisse Intl", sans-serif;
}


/* CSS Variables (opcional, si las querés usar con var(--x)) */
:root {
  --font-suisse: "Suisse Intl", sans-serif;
  --color-mostard: #bbbe64;
  --color-grape: #8e5572;
  --color-off-white: #f2f7f2;
  --color-beige: #58aa99;
  --color-dark-grape: #443850;
}

/* Test classes */
.font-regular {
  font-family: var(--font-suisse);
  font-weight: 400;
}
.font-medium {
  font-family: var(--font-suisse);
  font-weight: 500;
}
.font-bold {
  font-family: var(--font-suisse);
  font-weight: 700;
}
.color {
  background-color: var(--color-mostard);
  color: white;
  padding: 1rem;
}

:root {
  --colors-bg-default: #f9f5d9;
  --colors-bg-dark:   #00131c;
}
html.dark {
  --colors-bg-default: #00131c;
  --colors-bg-dark:   #f9f5d9;
}


.swiper-pagination-bullet {
  background-color: #ff6347;
}

/* Cambiar color cuando el punto está activo */
.swiper-pagination-bullet-active {
  background-color: #4CAF50;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
}