<section class="container mx-auto px-6 md:px-20 py-20 max-w-7xl">
  <div class="flex flex-col items-center gap-12">
    <div class="flex justify-center flex-col items-center">
      <h1
        class="text-5xl md:text-6xl font-extrabold mb-6 leading-tight uppercase text-center"
      >
        Make Your Brand Unforgettable.
      </h1>
      <p class="text-gray-600 text-base md:text-lg max-w-md">
        It’s time to give your company the presence it deserves.
      </p>
    </div>

    <div class="flex-1 flex flex-col gap-12">
      <div class="flex flex-col space-y-4">
        <a
          href="mailto:ONTIME@ontime.com"
          class="text-2xl font-semibold text-mostard hover:underline"
        >
          ONTIME@ontime.com
        </a>
        <a
          href="tel:+33381262626"
          class="text-2xl font-semibold text-mostard hover:underline"
        >
          +33 (0)381262626
        </a>
      </div>
      <img
        src="https://cdn.prod.website-files.com/66faee7ca2c53dbc454d6bda/66fe79e21cb945365887217e_Modern%20Urban%20Office.jpeg"
        alt="Modern Urban Office"
        loading="lazy"
        width="816"
        class="rounded-lg shadow-lg object-cover"
      />
    </div>
  </div>
</section>
