---
import Footer from '../components/Footer.jsx';
import Header from '../components/Header.astro';
import '../styles/global.css';
export interface Props { title: string; description?: string; }
const { title, description } = Astro.props;
---
<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    {description && <meta name="description" content={description} />}
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
  </head>
  <body class="font-suisse transition-colors duration-700 antialiased">
    <div
      id="transition"
      class="fixed inset-0 bg-grape z-50 transform translate-y-full transition-transform duration-[1200ms] ease-in-out"
    />
    <div id="content" class="opacity-100 transition-opacity duration-700">
        <Header />
        <main>
          <slot />
        </main>
        <Footer />
    </div>
  </body>
</html>